body{
    margin: 0; /*Para quitar el margen que traen por defecto algunos navegadores*/
}


.header {
    background-color: rgb(20, 134, 227);
    text-align: center;
    padding: 16px;
}

.sub-header{
    background-color: rgb(220, 29, 226);
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.name{
    color: antiquewhite;
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display: inline-block;
    width: 250px;
    font-weight: 700;
    
}

.title{
    color: antiquewhite;
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display: inline-block;
    width: 250px;
}


.main-content{
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}

.div-class{
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.image{
    display: inline-block;
    margin-left: 280px;
}

img{
    width: 300px;
}

h3{
    font-size: 28px;
    font-weight: 700;
}

hr{
    height: 2px;
    color: black;
    background-color: black;
}

dt {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 36px;
    font-weight: bold;
}

dd {
    margin-bottom: 12px;
    margin-top: 36px;
}

ul{
    padding-left: 10px;
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 20px;
}